<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Football Team Maker</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kite+One&display=swap" rel="stylesheet">
</head>

<body>
    <h1>Football Team Maker!</h1>
    <h3>Welcome to the NFL team maker! On this page you can</h3>
    <ol>
        <li><a href="/getInfo">Get Information</a> about NFL teams and players</li>
        <li><a href="/makeTeam">Make</a> your own NFL team</li>
        <li><a href="/viewTeam">View</a> your NFL team</li>
    </ol>
</body>

</html>