<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Make Your Football Team</title>
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <h1>Make your Football Team!</h1>
    <form action="/makeTeam" method="post">
        <label><strong>Name:</strong>
            <input type="text" name="name">
        </label>
        <br>
        <br>
        <label><strong>QB:</strong>
            <input type="text" name="QB">
        </label>
        <br>
        <br>

        <label><strong>RB:</strong>
            <input type="text" name="RB">
        </label>
        <br>
        <br>

        <label><strong>WR1:</strong>
            <input type="text" name="WR1">
        </label>
        <br>
        <br>

        <label><strong>WR2:</strong>
            <input type="text" name="WR2">
        </label>
        <br>
        <br>

        <label><strong>TE:</strong>
            <input type="text" name="TE">
        </label>
        <br>
        <br>

        <input type="submit">

    </form>
    <hr>
    <a href="/">HOME</a>
</body>

</html>